body, html {
    height: 100%;
    margin: 0;
}
.bg {
	/*
	background style for home page
	*/
    background-image: url("https://dfp2hfrf3mn0u.cloudfront.net/169/1694035_original_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;   
    width: 100%; 
}
.bg2 {
	/*
	background style for products page
	*/
	background-image: url("https://www.time-sport.com/media/synolia/slider/image/SMALL_SLIDER_413x376_34.jpg");
	background-repeat: no-repeat;
    background-size: cover;  
    width: 100%;
	
}
.bg3 {
	/*
	background style for customers page
	*/
	background-image: url("https://adventuretoursuk.com/wp-content/uploads/2019/01/MTB-3-e1566295361572.jpg");
	background-repeat: no-repeat;
    background-size: cover;  
    width: 100%;
}
.bg4 {
	/*
	background style for Inventory page
	*/
	background-image: url("https://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/11/2018/10/AB-Glentress-June19-211.jpg");
	background-repeat: no-repeat;
    background-size: cover;  
    width: 100%;
}
.bg5 {
	/*
	background style for UpdateCustomers page
	*/
	background-image: url("https://blog.mapmyrun.com/wp-content/uploads/2017/10/7-Things-No-One-Tells-You-About-Long-Distance-Cycling.jpg");
	background-repeat: no-repeat;
    background-size: cover;  
    width: 100%;
}
.cl {
	/*
	table scroll
	*/
	
  height: 600px;
  overflow: auto;
  
}
.jk {
	/*
	Home page text design
	*/
	font-style: italic;
	text-align: center;
	color: black;
    font-weight: bold;
	font-size: 70px;
	margin-top: 360px;
	text-shadow: 2px 2px 3px LightGray;
}
a {
	text-decoration: none;
}

#first {
    margin-left: 25%;
}
.btn {
	/*
	button design
	*/
    border: none;
    background-color: rgb(255, 165, 0);
    padding: 14px 28px;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    margin-top: 30px;
}

.btn:hover {
	/*
	hover style for a button
	*/
    background: yellow;
}

.txt {
	/*
	button text style
	*/
    color: black;
    font-weight: bold;
	text-shadow: 2px 2px 3px white;
  }